@import 'tailwindcss';
@plugin "daisyui";
@theme {
  --color-primary-dawn-violet-100: #fcfbff;
  --color-primary-dawn-violet-200: #f9f7ff;
  --color-primary-dawn-violet-300: #f0edfa;
  --color-primary-dawn-violet-400: #e9e4f9;
  --color-primary-dawn-violet-500: #e2dcf6;
  --color-primary-dawn-violet-600: #c6b9ec;
  --color-primary-dawn-violet-700: #a995e3;
  --color-primary-dawn-violet-800: #8d72d9;
  --color-primary-dawn-violet-900: #704fd1;
  --color-primary-midnight-blue-100: #fafbfe;
  --color-primary-midnight-blue-200: #f4f6fa;
  --color-primary-midnight-blue-300: #eff0f6;
  --color-primary-midnight-blue-400: #dde0ea;
  --color-primary-midnight-blue-500: #ced2de;
  --color-primary-midnight-blue-600: #9ca5bd;
  --color-primary-midnight-blue-700: #6b799b;
  --color-primary-midnight-blue-800: #394c7a;
  --color-primary-midnight-blue-900: #081f59;
  --color-primary-midnight-blue-900hover1: #0d296f;
  --color-primary-midnight-blue-900hover2: #1f397c;
  --color-primary-white: #ffffff;
  --color-secondary-arabian-gulf-400: #d9e3e8;
  --color-secondary-arabian-gulf-500: #b3c7d1;
  --color-secondary-arabian-gulf-600: #8cabba;
  --color-secondary-arabian-gulf-700: #668fa3;
  --color-secondary-arabian-gulf-800: #40738c;
  --color-secondary-desert-orange-400: #fcedde;
  --color-secondary-desert-orange-500: #fadabd;
  --color-secondary-desert-orange-600: #f4c8a1;
  --color-secondary-desert-orange-700: #f5b57a;
  --color-secondary-desert-orange-800: #f2a359;
  --color-secondary-ghaf-green-400: #ecf7ef;
  --color-secondary-ghaf-green-500: #d9eee0;
  --color-secondary-ghaf-green-600: #c4e5cf;
  --color-secondary-ghaf-green-700: #b3ddc1;
  --color-secondary-ghaf-green-800: #a0d4b1;
  --color-secondary-ghaf-green-900: #60b377;
  --color-secondary-sandy-beige-400: #f7f1ea;
  --color-secondary-sandy-beige-500: #efe3d5;
  --color-secondary-sandy-beige-600: #e7d5c0;
  --color-secondary-sandy-beige-700: #dec6ab;
  --color-secondary-sandy-beige-800: #d6b896;
  --color-secondary-shadow-grey-400: #e8e8e8;
  --color-secondary-shadow-grey-500: #d0d0d1;
  --color-secondary-shadow-grey-600: #bcbcbc;
  --color-secondary-shadow-grey-700: #a1a1a3;
  --color-secondary-shadow-grey-800: #8a8a8c;
  --color-secondary-sky-blue-300: #e4f0ff;
  --color-secondary-sky-blue-400: #d4e6ff;
  --color-secondary-sky-blue-500: #a9cdff;
  --color-secondary-sky-blue-600: #7fb4ff;
  --color-secondary-sky-blue-700: #549bff;
  --color-secondary-sky-blue-800: #2982ff;
  --color-secondary-red-400: #fcefec;
  --color-secondary-red-500: #f7cec7;
  --color-secondary-red-600: #f2ada2;
  --color-secondary-red-700: #ed8d7c;
  --color-secondary-red-800: #e86c57;
  --color-secondary-red-900: #e24b32;
}
